.btn {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
  font-family: var(--font-secondary);

  color: #fff;
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  font-family: var(--font-secondary);

  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);
  font-family: var(--font-secondary);

  color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  font-family: var(--font-secondary);

  color: #fff;
}

.btn-light:hover {
  background-color: #fff;
  border-color: var(--color-primary-light);
  font-family: var(--font-secondary);

  color: var(--color-primary-light);
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  font-family: var(--font-secondary);

  color: #fff;
}
