:root {
  --color-primary: #a18a93;
  --color-primary-light: #c6b5bc;
  --color-secondary: #36243a;
  --color-neutral: #c7b3aa;
  --color-bg: #dfdce7;

  --font-primary: "Quicksand", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  background-color: var(--color-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

ul, ol, dl {
  font-family: var(--font-primary);
  color: var(--color-bg);
  text-decoration: none;
  list-style-type: none;
}

.nav ul li a {
  font-family: var(--font-primary);
  color: var(--color-bg);
  text-decoration: none;
  list-style-type: none;
}

.nav {
  background-color: var(--color-primary);
}

a, blockquote {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

cite {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

mark {
  background-color: var(--color-primary);
}

.section {
  background-color: var(--color-bg);
}


hr {
  display: block;
  border-style: inset;
  border-width: 1px;
  border-color: var(--color-neutral);
}
